In [1]:
import pandas as pd

In [2]:
file = "Resources/FINAL.csv"

In [3]:
df = pd.read_csv(file)
df.head()

     1     2    3
0  101  4512  932
1  101     0    0
2  101     0    0
3  101     0    0
4  102   672  178

In [4]:
df1 = df.iloc[::4]
print(df1)

       1     2     3
0    101  4512   932
4    102   672   178
8    103   861   286
12   104   686   282
16   105  6764  2116
..   ...   ...   ...
968  454  1339   374
972  458  2495   618
976  460  2313   475
980  461  3755   652
984  463  2410   567

[247 rows x 3 columns]

In [5]:
#df1 = pd.DataFrame

In [6]:
df1 = df1.reset_index()
df1.drop(columns=['index'])

       1     2     3
0    101  4512   932
1    102   672   178
2    103   861   286
3    104   686   282
4    105  6764  2116
..   ...   ...   ...
242  454  1339   374
243  458  2495   618
244  460  2313   475
245  461  3755   652
246  463  2410   567

[247 rows x 3 columns]

In [7]:
df1 = df1.drop(columns=['index'])

In [8]:
#Travis_County_Data.csv

In [9]:
df1.to_csv('Travis_County_Data.csv')